@model IEnumerable<TrainingCenterMVC.Models.Category>


@{
    ViewBag.Title = "Home Page";
   Layout = null;


}


<!DOCTYPE html>
<html lang="zxx" class="no-js">

<head>
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Favicon -->
    <link rel="shortcut icon" href="~/Content/Home/img/fav.png" />
    <!-- Author Meta -->
    
    <meta name="author" content="colorlib" />
    <!-- Meta Description -->
    <meta name="description" content="" />
    <!-- Meta Keyword -->
    <meta name="keywords" content="" />
    <!-- meta character set -->
    <meta charset="UTF-8" />
    <!-- Site Title -->
    <title>Training System</title>

    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:900|Roboto:400,400i,500,700" rel="stylesheet" />
    <!--
        CSS
        =============================================
         -->
<link href="~/Content/Home/css/linearicons.css" rel="stylesheet" />
<link href="~/Content/Home/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/Home/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/Home/css/magnific-popup.css" rel="stylesheet" />
    <link href="~/Content/Home/css/owl.carousel.css" rel="stylesheet" />
    <link href="~/Content/Home/css/nice-select.css" rel="stylesheet" />
    <link href="~/Content/Home/css/main.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/themify-icons/0.1.2/css/themify-icons.css" />


    

   </head>

<body>
    <!-- ================ Start Header Area ================= -->
    <header class="default-header">
        <nav class="navbar navbar-expand-lg  navbar-light">
            <div class="container">
                <a class="navbar-brand" href="/Home/Index">
                    @*<img src="~/Content/Home/img/logo.png" alt="" />*@
                    
                    <a class="navbar-brand" style="color:white" href="/Home/Index">
                   
                        <img src="~/Image/iti.png"   height="50"  style="border-radius:20px;"/>
                    </a>


                 
                  
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="lnr lnr-menu"></span>
                   
                </button>

                <div class="collapse navbar-collapse justify-content-end align-items-center" id="navbarSupportedContent">
                    <ul class="navbar-nav">

                      

                        <li><a href="~/Home/Index">Home</a></li>
                        <li><a href="~/Home/ViewCourses">Courses</a></li>
                        <!-- Dropdown -->
                        @*<li class="dropdown">
                            <a class="dropdown-toggle" href="#" data-toggle="dropdown">
                                Pages
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="elements.html">Elements</a>
                                <a class="dropdown-item" href="course-details.html">Course Details</a>
                            </div>
                        </li>*@
                       
                        <li><a href="~/Home/Contact">Contacts US</a></li>
                        <li><a href="~/Home/About">About</a></li>


                        <li>

                          <button class="search" onclick="location();">
   
                                <span class="lnr lnr-magnifier" id="search" name="seachName">
                                   
                                </span>
                                   
                          
                           </button>



                        </li>

            

                        @Html.Partial("_LoginPartial")
                    </ul>
                </div>
            </div>
        </nav>
        <div class="search-input" id="search-input-box">
            <div class="container">
                @*<form class="d-flex justify-content-between" >*@
@using (Html.BeginForm("Search", "Home", FormMethod.Post ,new {@class= "d-flex justify-content-between" }))
{
                    <input type="text" class="form-control" id="search-input" placeholder="Search Here" name="searchName" />
                    <button type="submit" class="btn"></button>
                    <span class="lnr lnr-cross" id="close-search" title="Close Search"></span>
}
            </div>
        </div>
    </header>






    <!-- ================ End Header Area ================= -->
    <!-- ================ start banner Area ================= -->
    <section class="home-banner-area">
        <div class="container">
            <div class="row justify-content-center fullscreen align-items-center">
                <div class="col-lg-5 col-md-8 home-banner-left">
                    <h1 class="text-white">
                        Take the first step <br />
                        to learn with us
                    </h1>
                    <p class="mx-auto text-white  mt-20 mb-40">
                       we have all courses about programming and athers with deal with this 
                        .
                    </p>
                </div>
                <div class="offset-lg-2 col-lg-5 col-md-12 home-banner-right">
                    <img class="img-fluid" src="~/Content/Home/img/header-img.png" alt="" />
                   
                </div>
            </div>
        </div>
    </section>
    <!-- ================ End banner Area ================= -->
    <!-- ================ Start Feature Area ================= -->
    <section class="feature-area">
        <div class="container-fluid">
            <div class="feature-inner row">
                <div class="col-lg-2 col-md-6">
                    <div class="feature-item d-flex">
                        <i class="ti-book"></i>
                        <div class="ml-20">
                            <h4>All Courses</h4>
                            <p>
                                we have courese with relationship with programming and network also any courses dael with computer.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6">
                    <div class="feature-item d-flex">
                        <i class="ti-cup"></i>
                        <div class="ml-20">
                            <h4>Programming  Courses</h4>
                            <p>
                                we have courses dael with it like Java,C#,PHP,SQL,Others 
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6">
                    <div class="feature-item d-flex border-right-0">
                        <i class="ti-desktop"></i>
                        <div class="ml-20">
                            <h4>NetWork Courses</h4>
                            <p>
                               also have courses deal with Network field like CCNA.CCNP.CCNA Security and others
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
   
    <!-- ================ Start Popular Course Area ================= -->
    <section class="popular-course-area section-gap">
        <div class="container-fluid">
            <div class="row justify-content-center section-title">
                <div class="col-lg-12">
                    <h2>
                        Popular Courses <br />
                        Available Right Now
                    </h2>
                   
                </div>
            </div>
            <div class="owl-carousel popuar-course-carusel">
                <div class="single-popular-course">
                    <div class="thumb">
                        <img class="f-img img-fluid mx-auto" src="~/Image/download (2).png" alt="" style="width:400px;height:200px;" />
                    </div>

                    @*<img src= ~/Content/Home/img/popular-course/p1.jpg/>*@


                    <div class="details">
                        <div class="d-flex justify-content-between mb-20">
                            <p class="name">programming language</p>
                            
                        </div>
                        <a href="~/Home/ViewCourses">
                            <h4>Learn PHP FOR Build Projects</h4>
                        </a>
                        <div class="bottom d-flex mt-15">
                            <ul class="list">
                                <li>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                </li>
                            </ul>
                            <p class="ml-20">25 Reviews</p>
                        </div>
                    </div>
                </div>

                <div class="single-popular-course">
                    <div class="thumb">
                        <img class="f-img img-fluid mx-auto" src="~/Image/download (1).png"   style="width:400px;height:200px;"/>


                        @*<img src= "~/Content/Home/img/popular-course/p2.jpg"/>*@

                    </div>
                    <div class="details">
                        <div class="d-flex justify-content-between mb-20">
                            <p class="name">programming language</p>
                            
                        </div>
                        <a href="~/Home/ViewCourses">
                            <h4>Learn Java Language for Build Strong Project</h4>
                        </a>
                        <div class="bottom d-flex mt-15">
                            <ul class="list">
                                <li>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                </li>
                            </ul>
                            <p class="ml-20">25 Reviews</p>
                        </div>
                    </div>
                </div>

                <div class="single-popular-course">
                    <div class="thumb">
                        <img class="f-img img-fluid mx-auto" src="~/Image/download.png"   alt=""   style="width:400px;height:200px;"/>

                        @*<img src="~/Content/Home/img/popular-course/p3.jpg" />*@


                    </div>
                    <div class="details">
                        <div class="d-flex justify-content-between mb-20">
                            <p class="name">programming language</p>
                            
                        </div>
                        <a href="~/Home/ViewCourses">
                            <h4>Learn C# For Build strong Web Project</h4>
                        </a>
                        <div class="bottom d-flex mt-15">
                            <ul class="list">
                                <li>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                </li>
                            </ul>
                            <p class="ml-20">25 Reviews</p>
                        </div>
                    </div>
                </div>

                <div class="single-popular-course">
                    <div class="thumb">
                        <img class="f-img img-fluid mx-auto" src="~/Image/images.png " alt=""   style="width:400px;height:200px;"/>

                        @*<img src="~/Content/Home/img/popular-course/p4.jpg" />*@

                    </div>
                    <div class="details">
                        <div class="d-flex justify-content-between mb-20">
                            <p class="name">programming language</p>
                           
                        </div>
                        <a href="~/Home/ViewCourses">
                            <h4>Learn PhotoShop Lanaguage to can design website </h4>
                        </a>
                        <div class="bottom d-flex mt-15">
                            <ul class="list">
                                <li>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                </li>
                            </ul>
                            <p class="ml-20">25 Reviews</p>
                        </div>
                    </div>
                </div>
            </div>



            <div class="owl-carousel popuar-course-carusel">
                <div class="single-popular-course">
                    <div class="thumb">
                        <img class="f-img img-fluid mx-auto" src="~/Image/download (3).png" alt="" style="width:400px;height:200px;" />
                    </div>

                    @*<img src= ~/Content/Home/img/popular-course/p1.jpg/>*@


                    <div class="details">
                        <div class="d-flex justify-content-between mb-20">
                            <p class="name">programming language</p>

                        </div>
                        <a href="~/Home/ViewCourses">
                            <h4>Learn C++ FOR Build Projects and understand Basic programming</h4>
                        </a>
                        <div class="bottom d-flex mt-15">
                            <ul class="list">
                                <li>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                </li>
                            </ul>
                            <p class="ml-20">25 Reviews</p>
                        </div>
                    </div>
                </div>

                <div class="single-popular-course">
                    <div class="thumb">
                        <img class="f-img img-fluid mx-auto" src="~/Image/download (4).png" style="width:400px;height:200px;" />


                        @*<img src= "~/Content/Home/img/popular-course/p2.jpg"/>*@

                    </div>
                    <div class="details">
                        <div class="d-flex justify-content-between mb-20">
                            <p class="name">programming language</p>

                        </div>
                        <a href="~/Home/ViewCourses">
                            <h4>Learn Office understand Basic computer and organize data</h4>
                        </a>
                        <div class="bottom d-flex mt-15">
                            <ul class="list">
                                <li>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                </li>
                            </ul>
                            <p class="ml-20">25 Reviews</p>
                        </div>
                    </div>
                </div>

                <div class="single-popular-course">
                    <div class="thumb">
                        <img class="f-img img-fluid mx-auto" src="~/Image/download (5).png" alt="" style="width:400px;height:200px;" />

                        @*<img src="~/Content/Home/img/popular-course/p3.jpg" />*@


                    </div>
                    <div class="details">
                        <div class="d-flex justify-content-between mb-20">
                            <p class="name">programming language</p>

                        </div>
                        <a href="~/Home/ViewCourses">
                            <h4>Learn ICDL For Learn Basic computer</h4>
                        </a>
                        <div class="bottom d-flex mt-15">
                            <ul class="list">
                                <li>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                </li>
                            </ul>
                            <p class="ml-20">25 Reviews</p>
                        </div>
                    </div>
                </div>

                <div class="single-popular-course">
                    <div class="thumb">
                        <img class="f-img img-fluid mx-auto" src="~/Image/download (1).jpg" alt="" style="width:400px;height:200px;" />

                        @*<img src="~/Content/Home/img/popular-course/p4.jpg" />*@

                    </div>
                    <div class="details">
                        <div class="d-flex justify-content-between mb-20">
                            <p class="name">programming language</p>

                        </div>
                        <a href="~/Home/ViewCourses">
                            <h4>Learn Javascript Lanaguage to can design website </h4>
                        </a>
                        <div class="bottom d-flex mt-15">
                            <ul class="list">
                                <li>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-star"></i></a>
                                </li>
                            </ul>
                            <p class="ml-20">25 Reviews</p>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </section>


    <!-- ================ End Popular Course Area ================= -->
    <!-- ================ Start Video Area ================= -->
    <!-- ================ End Video Area ================= -->
    <!-- ================ Start Feature Area ================= -->


 
      <footer class="footer-area section-gap">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-md-6 single-footer-widget">
                    <h4>Top Products</h4>
                    <ul>
                        <li><a href="#">Managed Website</a></li>
                        <li><a href="#">Manage Reputation</a></li>
                        <li><a href="#">Power Tools</a></li>
                        <li><a href="#">Marketing Service</a></li>
                    </ul>
                </div>
                <div class="col-lg-2 col-md-6 single-footer-widget">
                    <h4>Quick Links</h4>
                    <ul>
                        <li><a href="/Home/Index">Home</a></li>
                        <li><a href="/Home/Contact">Contact</a></li>
                        <li><a href="/Home/About">About</a></li>
                        <li><a href="/Home/ViewCourses">Courses</a></li>
                   </ul>
                </div>
                <div class="col-lg-2 col-md-6 single-footer-widget">
                    <h4>Features</h4>
                    <ul>
                        <li><a href="#">Learn easily</a></li>
                        <li><a href="#">Best Instructor</a></li>
                        <li><a href="#">Do Project</a></li>
                        <li><a href="#">Help To Work</a></li>
                     </ul>
                </div>
               
                <div class="col-lg-4 col-md-6 single-footer-widget">
                    <h4>Newsletter</h4>
                    <p>You can trust us. we only send promo offers,</p>
                    <div class="form-wrap" id="mc_embed_signup">
                        <form target="_blank" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
                              method="get" class="form-inline">
                            <input class="form-control" name="EMAIL" placeholder="Your Email Address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your Email Address '"
                                   required="" type="email">
                            <button class="click-btn btn btn-default text-uppercase">subscribe</button>
                            <div style="position: absolute; left: -5000px;">
                                <input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value="" type="text">
                            </div>

                            <div class="info"></div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="footer-bottom row align-items-center">
                <p class="footer-text m-0 col-lg-8 col-md-12">
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;
                    <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </p>
                <div class="col-lg-4 col-md-12 footer-social">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-dribbble"></i></a>
                    <a href="#"><i class="fa fa-behance"></i></a>
                </div>
            </div>
        </div>
    </footer>
    <!-- ================ End footer Area ================= -->
    <script src="~/Content/Home/js/vendor/jquery-2.2.4.min.js"></script>
    <script src="~/Content/Home/js/vendor/bootstrap.min.js"></script>
    <script src="~/Content/Home/js/jquery.ajaxchimp.min.js"></script>
    <script src="~/Content/Home/js/jquery.magnific-popup.min.js"></script>
    <script src="~/Content/Home/js/parallax.min.js"></script>
    <script src="~/Content/Home/js/owl.carousel.min.js"></script>
    <script src="~/Content/Home/js/jquery.sticky.js"></script>
    <script src="~/Content/Home/js/hexagons.min.js"></script>
    <script src="~/Content/Home/js/jquery.counterup.min.js"></script>
    <script src="~/Content/Home/js/waypoints.min.js"></script>
    <script src="~/Content/Home/js/jquery.nice-select.min.js"></script>
    <script src="~/Content/Home/js/main.js"></script>


 
</body>

</html>